<form action="/auth">
    <button type="submit">LOG OUT</button>
</form>

<h3>Stag List</h3>

<% if (staglists.length === 0) { %>
    <div>0000 - 0600 (Person 1): GAPPED</div>
    <div>0000 - 0600 (Person 2): GAPPED</div>
    <div>0600 - 1200 (Person 1): GAPPED</div>
    <div>0600 - 1200 (Person 2): GAPPED</div>
    <div>1200 - 1800 (Person 1): GAPPED</div>
    <div>1200 - 1800 (Person 2): GAPPED</div>
    <div>1800 - 0000 (Person 1): GAPPED</div>
    <div>1800 - 0000 (Person 2): GAPPED</div>
<% } else { %>  
    <% staglists.forEach(staglist => { %>
        <div class="row">
            <div>0000 - 0600 (Person 1): </div>
            <div class="name_container"><%= staglist.person1 %></div>
        </div>
        <div class="row">
            <div>0000 - 0600 (Person 2): </div>
            <div class="name_container"><%= staglist.person2 %></div>
        </div>
        <div class="row">
            <div>0600 - 1200 (Person 1): </div>
            <div class="name_container"><%= staglist.person3 %></div>
        </div>
        <div class="row">
            <div>0600 - 1200 (Person 2): </div>
            <div class="name_container"><%= staglist.person4 %></div>
        </div>
        <div class="row">
            <div>1200 - 1800 (Person 1): </div>
            <div class="name_container"><%= staglist.person5 %></div>
        </div>
        <div class="row">
            <div>1200 - 1800 (Person 2): </div>
            <div class="name_container"><%= staglist.person6 %></div>
        </div>
        <div class="row">
            <div>1800 - 0000 (Person 1): </div>
            <div class="name_container"><%= staglist.person7 %></div>
        </div>
        <div class="row">
            <div>1800 - 0000 (Person 2): </div>
            <div class="name_container"><%= staglist.person8 %></div>
        </div>
    <% }) %>
<% } %>
<br>

<h3>Update Stag List</h3>
<form action="/stags" method="POST">
<div>
    <label>0000 - 0600 (Person 1): </label>
    <select name="person1" required>
        <option disabled value="" selected>Select name...</option> 
        <% people.forEach(person => { %>
            <option label="<%= person.name %>" value="<%= person.name %>"></option>    
        <% }) %>
    </select>
</div>
<div>
    <label>0000 - 0600 (Person 2): </label>
    <select name="person2" required>
        <option disabled value="" selected>Select name...</option> 
        <% people.forEach(person => { %>
            <option label="<%= person.name %>" value="<%= person.name %>"></option>    
        <% }) %>        
    </select>
</div>
<div>
    <label>0600 - 1200 (Person 1): </label>
    <select name="person3" required>
        <option disabled value="" selected>Select name...</option> 
        <% people.forEach(person => { %>
            <option label="<%= person.name %>" value="<%= person.name %>"></option>    
        <% }) %>        
    </select>
</div>
<div>
    <label>0600 - 1200 (Person 2): </label>
    <select name="person4" required>
        <option disabled value="" selected>Select name...</option> 
        <% people.forEach(person => { %>
            <option label="<%= person.name %>" value="<%= person.name %>"></option>    
        <% }) %>        
    </select>
</div>
<div>
    <label>1200 - 1800 (Person 1): </label>
    <select name="person5" required>
        <option disabled value="" selected>Select name...</option> 
        <% people.forEach(person => { %>
            <option label="<%= person.name %>" value="<%= person.name %>"></option>    
        <% }) %>        
    </select>
</div>
<div>
    <label>1200 - 1800 (Person 2): </label>
    <select name="person6" required>
        <option disabled value="" selected>Select name...</option> 
        <% people.forEach(person => { %>
            <option label="<%= person.name %>" value="<%= person.name %>"></option>    
        <% }) %>        
    </select>
</div>
<div>
    <label>1800 - 0000 (Person 1): </label>
    <select name="person7" required>
        <option disabled value="" selected>Select name...</option> 
        <% people.forEach(person => { %>
            <option label="<%= person.name %>" value="<%= person.name %>"></option>    
        <% }) %>        
    </select>
</div>
<div>
    <label>1800 - 0000 (Person 2): </label>
    <select name="person8" required>
        <option disabled value="" selected>Select name...</option>
        <% people.forEach(person => { %>
            <option label="<%= person.name %>" value="<%= person.name %>"></option>    
        <% }) %>        
    </select>
</div>

<br>
<button type="submit">Update Stag List</button>
</form>
<br>
<form action="/">
    <button type="submit">Back to Nom Roll</button>
</form>
